.vscode/launch.json
.vscode/settings.json
cmd.exe
__pycache__/boolens_test1.cpython-37.pyc
__pycache__/number_digit_test.cpython-37.pyc
__pycache__/list_test1.cpython-37.pyc
__pycache__/boolens_test4.cpython-37.pyc
__pycache__/boolens_test2.cpython-37.pyc
